/* style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vk {
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vk p {
    margin: 0;
    padding: 0;
}

.vk p::before {
    content: '☛ ';
    font-weight: bold;
    color: #000;
}

@media (min-width: 768px) {
    .vk {
        max-width: 700px;
        margin: 20px auto;
    }
}


















